# Solving battleship with many algorithms

In [4]:
import pandas as pd

In [ ]:
df = pd.read_csv("./results.csv", index_col=0)

df.describe()

,Unnamed: 0,Random,Improved,Hunter,Parity,Full Knowledge
count,10000.00000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4999.50000,345.78880,95.339800,67.364400,62.265400,59.390900
std,2886.89568,125.04567,4.866961,12.535339,8.503564,10.082136
min,0.00000,102.00000,61.000000,27.000000,29.000000,25.000000
25%,2499.75000,256.00000,93.000000,58.000000,57.000000,52.000000
50%,4999.50000,323.00000,97.000000,67.000000,63.000000,60.000000
75%,7499.25000,411.00000,99.000000,76.000000,69.000000,67.000000
max,9999.00000,1564.00000,100.000000,102.000000,81.000000,89.000000